.wrapper {
  background-image: url("../../images/bgimg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__inner {
  display: flex;
  padding: 40px 0;
}

.header__logo {
  max-width: 170px;
}

.site-menu {
  display: flex;
  margin-left: auto;
}

.site-menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-menu__item {
  margin-right: 47px;
}

.site-menu__link {
  color: #fff;
  text-decoration: none;
}

.site-menu__item:nth-child(4) {
  margin-right: 0;

  &:hover{
    opacity: 0.8;
  }

  &:active > .site-menu__link {
    color: #fff;
    background-color: #77CDF5;
  }
}

.site-menu__item:nth-child(4) > .site-menu__link {
  padding: 15px 30px;
  font-family: 'Fraunces';
  font-weight: 700;
  text-transform: uppercase;
  color: #24303E;
  background-color: #fff;
  border-radius: 28px;
}

.burger-button{
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
}


@media only screen and (max-width:520px) {
  .wrapper {
    background-image: url("../../images/bgimg-responsive.png");
  }
  
  .site-menu {
    display: none;
  }
  
  .hero__inner {
    padding: 32px 40px;
  }
  
  .header__logo {
    max-width: 124px;
  }
  
  .burger-button{
    display: block;
    margin-left: auto;
  }
  
  .nav--active {
    position: absolute;
    z-index: 100;
    top: 106px;
    left:5%;
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: #FFFCF8;
  }
  
  .site-menu__list{
    flex-direction: column;
    padding: 39px 0;
  }
  
  .site-menu__item {
    text-align: center;
    margin-right: 0;
  }
  
  .site-menu__item:nth-child(4) > .site-menu__link {
    background-color: #FBD600;
    border-radius: 28px;
  }
  
  .site-menu__item + .site-menu__item{
    margin-left: 0;
    margin-top: 32px;
  }
  
  .site-menu__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.142857px;
    color: #808397;
  }
  
  .border{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;     
    border-right:24px solid #FFFCF8;     
  }
}

@media only screen and (max-width:320px) {
  
}