.intro__inner {
  display: flex;
  flex-wrap: wrap;
}

.intro__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 165px;
  padding-left: 106px;
  width: 100%;
  max-width: 720px;
}

.intro__content-one {
  display: flex;
}

.intro__content-two {
  display: flex;
}

.intro__text {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
}

.intro__desc {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}

.intro__link {
  position: relative;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  text-decoration: none;

  &::after {
    position: absolute;
    z-index: 2;
    bottom: -3px;
    left: -9px;
    display: inline-block;
    width: 137px;
    height: 10px;
    background-color: #FAD400;
    opacity: 0.25;
    border-radius: 28px;
    content: "";
  }
}

.intro__link {
  position: relative;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  text-decoration: none;

  &::after {
    position: absolute;
    z-index: 2;
    bottom: -3px;
    left: -9px;
    display: inline-block;
    width: 137px;
    height: 10px;
    background-color: #FAD400;
    opacity: 0.25;
    border-radius: 28px;
    content: "";
  }

  &:active {
    opacity: 0.4;
  }

  &:hover::after {
    opacity: 0.8;
  }
}

.intro__element {
  padding-top: 397px;
  padding-right: 190px;
  padding-bottom: 60px;
  padding-left: 191px;
  width: 100%;
  max-width: 720px;
  background-image: url("../../images/cherry-img.png");
  background-repeat: no-repeat;
  background-size: 720px 600px;
}

.intro__texts {
  margin: 0;
  margin-bottom: 27px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554A;
}

.intro__paragraph {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #3E7467;
}

.intro__elements {
  padding-top: 397px;
  padding-right: 190px;
  padding-bottom: 60px;
  padding-left: 191px;
  width: 100%;
  max-width: 720px;
  background-image: url("../../images/orange-img.png");
  background-repeat: no-repeat;
  background-size: 720px 600px;
}


@media only screen and (max-width:520px) {
  .intro__img {
    margin: 64px 0;
    width: 375px;
    height: 312px;
  }
  
  .intro__content-one {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  
  .intro__content-two {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .intro__content {
    padding: 0 20px;
  }
  
  .intro__element {
    margin-top: 50px;
    padding-right: 24px;
    padding-left: 24px;
    max-width: 375px;
    background-position: center;
  }
  
  .intro__elements {
    margin-top: 50px;
    padding-right: 24px;
    padding-left: 24px;
    max-width: 375px;
    background-position: center;
  }
}



@media only screen and (max-width:320px) {
  .intro__img {
    margin-top: 0;
  }
  
  .intro__text {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.228571px;
  }

  .intro__link {
    margin-bottom: 40px;
  }

  .intro__element {
    margin-top: 0;
    padding-top: 350px;
  }

  .intro__elements {
    margin-top: 0;
  }
}